@model SWMGEGCSS.Models.GestionarCitasViewModel
@{
    ViewBag.Title = "_Ver_Detalles";
    Layout = null;
}


<h2 class="text-center">Detalles de la Cita:</h2>
<div>
    <div class="row">
        <div class="col-12 col-sm-1">

        </div>
    </div>
</div>