@model SWMGEGCSS.Models.GestionarCitasViewModel
@{
    ViewBag.Title = "Gestionar_Citas";
    Layout = "~/Views/Shared/_LayoutEmpresa.cshtml";
    var list_citas = Model.listCitas;
}

<h2 class="ml-3">Gestionar Citas</h2>

<div class=" row mt-4 ml-2">
    <div class="col-7">
        <a href="@Url.Action("Registrar_Cita","Secretario")" class="btn btn-primary mx-md-auto col-6">
            <i class="fa fa-plus-circle"></i>
            Registrar Cita
        </a>
    </div>
    <div class="col-3">
        <select class="custom-select" id="estado" name="estado">
            <option>Esta Semana</option>
            <option>Hoy</option>
        </select>
    </div>
</div>


@Html.Partial("_ListaCitas", Model)
@Html.Action("_verDetalles", "Secretario")
@Html.Action("_Eliminar_Cita", "Secretario")


<link href="~/Content/style-autocomplete/jquery-ui.min.css" rel="stylesheet" />
<link href="~/Content/PagedList.css" rel="stylesheet" />
@section Scripts{
    <script src="~/Scripts/sweetalert/sweetalert.js"></script>
    <script src="~/Scripts/Scripts_TP/MAURICIO/scriptsConsultarEmpresa.js"></script>
    <script src="~/Scripts/Scripts_TP/MAURICIO/scriptsConsultarSecretario.js"></script>
    <script src="~/Scripts/script-autocomplete/jquery-ui-min.js"></script>
}
