@model SWMGEGCSS.Models.GestionarCitasViewModel
@{
    ViewBag.Title = "Registrar_Cita";
}

<h2>Registrar_Cita</h2>

<div class="container-fluid">
    @using (Html.BeginForm())
    {
        <div class="row mt-5 pl-2">
            <div class="col-12 col-sm-6 col-md-6">
                <label class="font-weight-bolder">
                    Fecha
                </label>
                
                

            </div>
        </div>



    }
</div>

