.position {
    margin-top: 35vh;
}
.bordersesion{
    border:5px solid;
    border-color:red;
    border-radius:50px;
}
.buttonsesion{
    width:100% !important;
}
.relative {
    position:relative;
    top:35vh;
    width:20%;
    left:40vw;
    text-align:center;
}
.absoluto {
    position: absolute !important;
    bottom: 0.50px;
    width: 90%;
    top: -100px;
}
img {
    z-index: 1 !important;
}
.bordersesionrelative {
    border: 0.1px solid;
    border-radius: 50px;
}