.position {
    margin-top: 15vh;
}
.bordersesion {
    border: 5px solid;
    border-color: #fff7f7;
    border-radius: 50px;
    box-shadow: 10px 10px 10px #d0c2c2;
}
.buttonsesion{
    width:100% !important;
}
/*.relative {
    position:relative;
    top:35vh;
    width:20%;
    left:40vw;
    text-align:center;
}
.absoluto {
    position: absolute !important;
    bottom: 0.50px;
    width: 90%;
    top: -100px;
}
img {
    z-index: 1 !important;
}
.bordersesionrelative {
    border: 0.1px solid;
    border-radius: 50px;
}*/
.paddignlr {
    padding-left:30px !important;
    padding-right: 30px !important;
    padding-top:30px !important;
    padding-bottom: 30px !important;
}