@model SWMGEGCSS.Models.GestionarEmpresaViewModel
@{
    ViewBag.Title = "_Eliminar_Empresa";
    Layout = "~/Views/Shared/_LayoutEmpresa.cshtml";
    
}

<h2>_Eliminar_Empresa</h2>

<div>
    <div>
        <div class="container form mt-5">


            <div>
                <label>
                    Id
                </label>
               
                    <input type="text" value="" id="emp_telefono" disabled />
              
            </div>
            <div>
                <label>
                    Ruc
                </label>
                <input type="text" value="" id="emp_ruc" disabled />
            </div>
            <div>
                <label>
                    Razón Social
                </label>
                <input type="text" value="" id="emp_razon_social" disabled />
            </div>

            <div>
                <label>
                    Representante
                </label>
                <input type="text" value="" id="emp_representante" disabled />
            </div>

            <div>
                <label>
                    Teléfono
                </label>
                <input type="text" value="" id="emp_telefono" disabled />
            </div>
        </div>

        <div class="mt-4 mb-4">
            <div class="row">
                <div class="col-sm-6 col-md-6 col-6">
                    <button type="button" class="btn btn-danger rounded-pill btnEliminar" style="color:white !important">
                        <i class="fa fa-times-circle" style="color:white !important"></i>
                        Eliminar Plan
                    </button>
                </div>
                <div class="col-sm-6 col-md-6 col-6">
                    <button type="button" class="btn btn-secondary rounded-pill" data-dismiss="modal">
                        <i class="fa fa-arrow-left"></i>
                        Cancelar
                    </button>
                </div>
            </div>

        </div>



    </div>
</div>
