@model SWMGEGCSS.Models.GestionarPlanProyectoViewModel

@{
    ViewBag.Title = "ACTIVIDAD PLANICADA";
}

<div class="modal fade" id="ActualizarActPlan" tabindex="-1" role="dialog" aria-labelledby="#ActualizarActPlan" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="text-center font-weight-bolder">
                Eliminar Plan de Proyecto
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12 col-12 col-md-12">
                        <div class="mt-2">
                            <label class="font-weight-bolder">
                                Nombre de la Actividad Planificada
                            </label>
                        </div>
                        <div>
                            @Html.EditorFor(model => model.Actividades_planeadas_aux.act_plan_nombre, new
                            {
                                htmlAttributes = new { @class = "text-center form-control bg-white" }
                            })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-12 col-md-12">
                        <div class="mt-2">
                            <label class="font-weight-bolder">
                                Descripcion de la Actividad Planificada
                            </label>
                        </div>
                        <div>
                            @Html.EditorFor(model => model.Actividades_planeadas_aux.act_plan_descripcion, new
                            {
                                htmlAttributes = new { @class = "text-center form-control bg-white" }
                            })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-12 col-md-12">
                        <div class="mt-2">
                            <label class="font-weight-bolder">
                                Costo
                            </label>
                        </div>
                        <div>
                            @Html.EditorFor(model => model.Actividades_planeadas_aux.act_plan_costo, new
                            {
                                htmlAttributes = new { @class = "text-center form-control bg-white" }
                            })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-12 col-md-12">
                        <div class="mt-2">
                            <label class="font-weight-bolder">
                                Duracion de la Actividad
                            </label>
                        </div>
                        <div>
                            @Html.EditorFor(model => model.Actividades_planeadas_aux.act_plan_tiempo, new
                            {
                                htmlAttributes = new { @class = "text-center form-control bg-white" }
                            })
                        </div>
                    </div>
                </div>
                
                <div class="mt-4 mb-4">
                    <div class="row">
                        <div class="col-sm-6 col-md-6 col-6">
                            <button type="button" class="btn btn-danger rounded-pill btnActualizar" style="color:white !important">
                                <i class="fa fa-times-circle" style="color:white !important"></i>
                                ACTUALIZAR
                            </button>
                        </div>
                        <div class="col-sm-6 col-md-6 col-6">
                            <button type="button" class="btn btn-secondary rounded-pill" data-dismiss="modal">
                                <i class="fa fa-arrow-left"></i>
                                CANCELAR
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
