@model SWMGEGCSS.Models.GestionarCuentasViewModel
@{ 
    ViewBag.Tittle = "_EliminarCuenta";
    Layout = null;
}

    <div class="modal fade" id="ModalEliminarCuenta" tabidex="-1" role="dialog" aria-labelledby="#ModalEliminarCuenta" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <h2 class="text-center my-3">¿Desea Eliminar la Cuenta?</h2>
                
            </div>
        </div>
    </div>