@model SWMGEGCSS.Models.GestionarCuentasViewModel
@{
    ViewBag.Title = "_verDetalles";
    Layout = null;
}
@section Scripts{
    <script src="~/Scripts/Scripts_TP/MAURICIO/ConsultarCuenta.js"></script>
}
<div class="modal fade" id="ModalVerDetallesCuenta" tabindex="-1" role="dialog" aria-labelledby="#ModalVerDetallesCuenta" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <h2 class="text-center">Detalles del Usuario</h2>
        </div>
    </div>
</div>