v class="row mt-4">
<div class="col-sm-6 col-6 col-md-6">
    <div class="row">
        <div class="col-sm-6 col-12 col-md-6">
            <div>
                <img src="~/images/coordinador_de_administracion_finanzas.jpeg" class="img-fluid img-100 img-thumbnail" />
            </div>
        </div>
        <div class="col-sm-6 col-12 col-md-6">
            <div>
                <label class="font-weight-bolder">
                    ITALO DARWIN DEL CARPIO GAVIDIA
                </label>
            </div>
            <div>
                <label>Coordinador de Administración y Finanzas</label>
            </div>
            <div>
                <label>Ing. Geógrafo</label>
            </div>
            <div>
                <label>Email: italo.dcg@geoconsultsac.com</label>
            </div>
        </div>
    </div>
</div>
<div class="col-sm-6 col-6 col-md-6">
    <div class="row">
        <div class="col-sm-6 col-12 col-md-6">
            <div>
                <img src="~/images/asistente_administrativa.jpeg" class="img-fluid img-100 img-thumbnail" />
            </div>
        </div>
        <div class="col-sm-6 col-12 col-md-6">
            <div>
                <label class="font-weight-bolder">
                    FRESIA LILEYA MENDOZA TUESTA
                </label>
            </div>
            <div>
                <label>Asistente Administrativa</label>
            </div>
            <div>
                <label>Ing. Geógrafo</label>
            </div>
            <div>
                <label>Email: fresia.mendoza@geoconsultsac.com</label>
            </div>
        </div>
    </div>
</div>
</div>