<div class="row mt-4">
    <div class="col-sm-6 col-6 col-md-6">
        <div class="row">
            <div class="col-sm-6 col-12 col-md-6">
                <div>
                    <img src="~/images/Asesor_Tecnico_1.jpeg" class="img-fluid img-100 img-thumbnail" />
                </div>
            </div>
            <div class="col-sm-6 col-12 col-md-6">
                <div>
                    <label class="font-weight-bolder">
                        ING.GIANCARLO EDDY PINEDO VASQUEZ
                    </label>
                </div>
                <div>
                    <label>Asesor Técnico 1</label>
                </div>
                <div>
                    <label>Reg.CIP N<sup>o</sup> 119219 Ing. Forestal</label>
                </div>
                <div>
                    <label>Email: giancarlo.pinedo@geoconsultsac.com</label>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-6 col-md-6">
        <div class="row">
            <div class="col-sm-6 col-12 col-md-6">
                <div>
                    <img src="~/images/Asesor_Tecnico_2.jpg" class="img-fluid img-100 img-thumbnail" />
                </div>
            </div>
            <div class="col-sm-6 col-12 col-md-6">
                <div>
                    <label class="font-weight-bolder">
                        ING.AGAPITA NATIVIDAD ALIPIO RODRIGUEZ
                    </label>
                </div>
                <div>
                    <label>Asesor Técnico 2</label>
                </div>
                <div>
                    <label>Reg.CIP N<sup>o</sup> 27040 Ing.Quimica</label>
                </div>
                <div>
                    <label>Email: agapito.alipio@geoconsultsac.com</label>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row mt-4">
    <div class="col-sm-6 col-12 col-md-6">
        <div class="row">
            <div class="col-sm-6 col-12 col-md-6">
                <div>
                    <img src="~/images/Asesor_Tecnico_3.jpeg" class="img-fluid img-100 img-thumbnail" />
                </div>
            </div>
            <div class="col-sm-6 col-12 col-md-6">
                <div>
                    <label class="font-weight-bolder">
                        ING.GUILLERMO VELASCO ROLANDO MAURICIO
                    </label>
                </div>
                <div>
                    <label>Asesor Técnico 3</label>
                </div>
                <div>
                    <label>Reg.CIP N<sup>o</sup> 124594 Ing.Ambiental</label>
                </div>
                <div>
                    <label>Email: guillermo.velasco@geoconsultsac.com</label>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-12 col-md-6">
        <div class="row" style="height:100% !important">
            <div class="col-sm-6 col-12 col-md-6">
                <div style="height:100% !important">
                    <img src="~/images/Asesor_Tecnico_4_2.jpg" class="img-fluid img-100 img-thumbnail" style="height:100% !important" />
                </div>
            </div>
            <div class="col-sm-6 col-12 col-md-6">
                <div>
                    <label class="font-weight-bolder">
                        ING.GODOFREDO MEDINA
                    </label>
                </div>
                <div>
                    <label>Asesor Técnico 4</label>
                </div>
                <div>
                    <label>Reg.CIP N<sup>o</sup> 115308 Ing.Metalurgista</label>
                </div>
                <div>
                    <label>Email: godofredo.medina@geoconsultsac.com</label>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row mt-4">
    <div class="col-sm-6 col-12 col-md-6">
        <div class="row" style="height:100%!important">
            <div class="col-sm-6 col-12 col-md-6">
                <div style="height:100%!important">
                    <img src="~/images/Asistente_5.jpg" class="img-fluid img-100 img-thumbnail" style="height:100%!important" />
                </div>
            </div>
            <div class="col-sm-6 col-12 col-md-6">
                <div>
                    <label class="font-weight-bolder">
                        ING.FRANCISCO JAVIER CABRERA CARDENAS
                    </label>
                </div>
                <div>
                    <label>Asesor Técnico 5</label>
                </div>
                <div>
                    <label>Ing.Geólogo</label>
                </div>
                <div>
                    <label>Email: franciso.cabrera@geoconsultsac.com</label>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-12 col-md-6">
        <div class="row">
            <div class="col-sm-6 col-12 col-md-6">
                <div>
                    <img src="~/images/Asesora_Legal.jpg" class="img-fluid img-100 img-thumbnail" />
                </div>
            </div>
            <div class="col-sm-6 col-12 col-md-6">
                <div>
                    <label class="font-weight-bolder">
                        DRA. ROXANA JANET DEL CARPIO RAMIREZ
                    </label>
                </div>
                <div>
                    <label>Asesora Legal</label>
                </div>
                <div>
                    <label>Reg.CAL N<sup>o</sup> 73966</label>
                </div>
                <div>
                    <label>Email: roxana.delcarpio@geoconsultsac.com</label>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row mt-4">
    <div class="col-sm-6 col-12 col-md-6">
        <div class="row">
            <div class="col-sm-6 col-12 col-md-6">
                <div>
                    <img src="~/images/asesora_contable.jpg" class="img-fluid img-100 img-thumbnail" style="height:309px !important" />
                </div>
            </div>
            <div class="col-sm-6 col-12 col-md-6">
                <div>
                    <label class="font-weight-bolder">
                        LIC. BEATRIZ SERNAQUE CORDOVA
                    </label>
                </div>
                <div>
                    <label>Asesora Contable</label>
                </div>
                <div>
                    <label>Reg.CPC N<sup>o</sup> 73656</label>
                </div>
                <div>
                    <label>Email: beatriz.sernaque@geoconsultsac.com</label>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-6 col-md-6">

    </div>
</div>
