<div class="row mt-4">
    <div class="col-sm-6 col-12 col-md-6">
        <div class="row">
            <div class="col-sm-6 col-12 col-md-6">
                <div>
                    <img src="~/images/Gerente_General.jpg" class="img-fluid img-100 img-thumbnail" />
                </div>
            </div>
            <div class="col-sm-6 col-12 col-md-6">
                <div>
                    <label class="font-weight-bolder section-content">
                        ING.ITALO DANIEL DEL CARPIO RAMIREZ
                    </label>
                </div>
                <div>
                    <label>Gerente General</label>
                </div>
                <div>
                    <label>Reg.CIP N<sup>o</sup> 83705-Ing. Geógrafo</label>
                </div>
                <div>
                    <label>Email: italo.delcarpio@geoconsultsac.com</label>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-12 col-md-6">
        <div class="row">
            <div class="col-sm-6 col-12 col-md-6">
                <div>
                    <img src="~/images/Gerente_Proyectos.jpeg" class="img-fluid img-100 img-thumbnail" />
                </div>
            </div>
            <div class="col-sm-6 col-12 col-md-6">
                <div>
                    <label class="font-weight-bolder section-content">
                        ING.ANGELA GAVIDIA ASENCIOS
                    </label>
                </div>
                <div>
                    <label>Gerente de Proyectos</label>
                </div>
                <div>
                    <label>Reg.CIP N<sup>o</sup> 87778-Ing. Geógrafa</label>
                </div>
                <div>
                    <label>Email: angela.gavidia@geoconsultsac.com</label>
                </div>
            </div>
        </div>
    </div>
</div>