<div class="row mt-4">
    <div class="col-sm-6 col-12 col-md-6">
        <div class="row">
            <div class="col-sm-6 col-12 col-md-6">
                <div>
                    <img src="~/images/Responsable_Tecnico_de_asuntos_ambientales.jpeg" class="img-fluid img-100 img-thumbnail" />
                </div>
            </div>
            <div class="col-sm-6 col-12 col-md-6">
                <div>
                    <label class="font-weight-bolder section-content">
                        ING.RAMIRO BRADHY ALVARES RAMIREZ
                    </label>
                </div>
                <div>
                    <label>Responsable Tecnico de Asunto Ambientales</label>
                </div>
                <div>
                    <label>Ing. Geógrafo</label>
                </div>
                <div>
                    <label>Email: ramiro.alvarez@geoconsultsac.com</label>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-12 col-md-6">
        <div class="row" style="height:100% !important">
            <div class="col-sm-6 col-12 col-md-6">
                <div style="height:100% !important">
                    <img src="~/images/Responsable_Marketing_Publicidad.jpg" class="img-fluid img-100 img-thumbnail" style="height:100% !important" />
                </div>
            </div>
            <div class="col-sm-6 col-12 col-md-6">
                <div>
                    <label class="font-weight-bolder section-content">
                        DIEGO NIKOLAI GAVIDIA HUANAY
                    </label>
                </div>
                <div>
                    <label>Responsable de Marketing y Publicidad</label>
                </div>
                <div>
                    <label>Reg.CIP N<sup>o</sup> Ing. Forestal</label>
                </div>
                <div>
                    <label>Email: diego.gavidia@geoconsultsac.com</label>
                </div>
            </div>
        </div>
    </div>
</div>