
@{
    ViewBag.Title = "Clientes";
    Layout = "~/Views/Shared/_LayoutCliente.cshtml";
}
    <div class="container">
        <div class="row mt-4">
            <a class="col-sm-4 col-12 col-md-4 cycle-slideshow nombre_imagen" data-cycle-slides="> div" href="#">
                <div>
                    <img src="~/images/imagen_empresa/802298-ackor-peru-logo.png" class="img-fluid img-thumbnail img_cliente" />
                    <div class="cycle-overlay">Ackor Perú</div>
                </div>
            </a>
            <a class="col-sm-4 col-12 col-md-4 cycle-slideshow nombre_imagen" data-cycle-slides="> div" href="#">
                <div>
                    <img src="~/images/imagen_empresa/acuapesca-197x165.jpg" class="img-fluid img-thumbnail img_cliente" />
                    <div class="cycle-overlay">AcuaPesca</div>
                </div>
            </a>
            <a class="col-sm-4 col-12 col-md-4 cycle-slideshow nombre_imagen" data-cycle-slides="> div" href="#">
                <div>
                    <img src="~/images/imagen_empresa/alcolores.png" class="img-fluid img-thumbnail img_cliente" />
                    <div class="cycle-overlay">Al Colores</div>
                </div>
            </a>
        </div>
        <div class="row mt-4">
            <a class="col-sm-4 col-12 col-md-4 cycle-slideshow nombre_imagen" data-cycle-slides="> div" href="#">
                <div>
                    <img src="~/images/imagen_empresa/A_V.jpg" class="img-fluid img-thumbnail img_cliente" />
                    <div class="cycle-overlay">Empresa AE & V</div>
                </div>
            </a>
            <a class="col-sm-4 col-12 col-md-4 cycle-slideshow nombre_imagen" data-cycle-slides="> div" href="#">
                <div>
                    <img src="~/images/imagen_empresa/coipsa.jpg" class="img-fluid img-thumbnail img_cliente" />
                    <div class="cycle-overlay">Peru Recicla</div>
                </div>
            </a>
            <a class="col-sm-4 col-12 col-md-4 cycle-slideshow nombre_imagen" data-cycle-slides="> div" href="#">
                <div>
                    <img src="~/images/imagen_empresa/descarga.jpg" class="img-fluid img-thumbnail img_cliente" />
                    <div class="cycle-overlay">Camisea Combustible</div>
                </div>
            </a>
        </div>
        <div class="row mt-4">
            <a class="col-sm-4 col-12 col-md-4 cycle-slideshow nombre_imagen" data-cycle-slides="> div" href="#">
                <div>
                    <img src="~/images/imagen_empresa/ecoma.png" class="img-fluid img-thumbnail img_cliente" />
                    <div class="cycle-overlay">Ecoma Perú</div>
                </div>
            </a>
            <a class="col-sm-4 col-12 col-md-4 cycle-slideshow nombre_imagen" data-cycle-slides="> div" href="#">
                <div>
                    <img src="~/images/imagen_empresa/ecomin.jpg" class="img-fluid img-thumbnail img_cliente" />
                    <div class="cycle-overlay">Grupo Comin</div>
                </div>
            </a>
            <a class="col-sm-4 col-12 col-md-4 cycle-slideshow nombre_imagen" data-cycle-slides="> div" href="#">
                <div>
                    <img src="~/images/imagen_empresa/eco_sam.jpg" class="img-fluid img-thumbnail img_cliente" />
                    <div class="cycle-overlay">EcoSeam</div>
                </div>
            </a>
        </div>
        <div class="row mt-4">
            <a class="col-sm-4 col-12 col-md-4 cycle-slideshow nombre_imagen" data-cycle-slides="> div" href="#">
                <div>
                    <img src="~/images/imagen_empresa/fernandez-y-chicoma-220x165.png" class="img-fluid img-thumbnail img_cliente" />
                    <div class="cycle-overlay">Empresa Fernandez y Chicoma</div>
                </div>
            </a>
            <a class="col-sm-4 col-12 col-md-4 cycle-slideshow nombre_imagen" data-cycle-slides="> div" href="#">
                <div>
                    <img src="~/images/imagen_empresa/fzg metales.jpg" class="img-fluid img-thumbnail img_cliente" />
                    <div class="cycle-overlay">FZG Metales</div>
                </div>
            </a>
            <a class="col-sm-4 col-12 col-md-4 cycle-slideshow nombre_imagen" data-cycle-slides="> div" href="#">
                <div>
                    <img src="~/images/imagen_empresa/huracan.png" class="img-fluid img-thumbnail img_cliente" />
                    <div class="cycle-overlay">HuraCorp</div>
                </div>
            </a>
        </div>
        <div class="row mt-4">
            <a class="col-sm-4 col-12 col-md-4 cycle-slideshow nombre_imagen" data-cycle-slides="> div" href="#">
                <div>
                    <img src="~/images/imagen_empresa/industrias-nettalco.jpg" class="img-fluid img-thumbnail img_cliente" />
                    <div class="cycle-overlay">Industria Netalco</div>
                </div>
            </a>
            <a class="col-sm-4 col-12 col-md-4 cycle-slideshow nombre_imagen" data-cycle-slides="> div" href="#">
                <div>
                    <img src="~/images/imagen_empresa/IPS.png" class="img-fluid img-thumbnail img_cliente" />
                    <div class="cycle-overlay">Integral Post Service</div>
                </div>
            </a>
            <a class="col-sm-4 col-12 col-md-4 cycle-slideshow nombre_imagen" data-cycle-slides="> div" href="#">
                <div>
                    <img src="~/images/imagen_empresa/joscana-220x111.jpg" class="img-fluid img-thumbnail img_cliente" />
                    <div class="cycle-overlay">Joscana</div>
                </div>
            </a>
        </div>
        <div class="row mt-4">
            <a class="col-sm-4 col-12 col-md-4 cycle-slideshow nombre_imagen" data-cycle-slides="> div" href="#">
                <div>
                    <img src="~/images/imagen_empresa/" class="img-fluid img-thumbnail img_cliente" />
                    <div class="cycle-overlay">Kimberly-Clark</div>
                </div>
            </a>
            <a class="col-sm-4 col-12 col-md-4 cycle-slideshow nombre_imagen" data-cycle-slides="> div" href="#">
                <div>
                    <img src="~/images/imagen_empresa/logo-areyaku.png" class="img-fluid img-thumbnail img_cliente" />
                    <div class="cycle-overlay">AreYaku Pacha</div>
                </div>
            </a>
            <a class="col-sm-4 col-12 col-md-4 cycle-slideshow nombre_imagen" data-cycle-slides="> div" href="#">
                <div>
                    <img src="~/images/imagen_empresa/metalimpex-220x140.png" class="img-fluid img-thumbnail img_cliente" />
                    <div class="cycle-overlay">MetalImpex</div>
                </div>
            </a>
        </div>
        <div class="row mt-4">
            <a class="col-sm-4 col-12 col-md-4 cycle-slideshow nombre_imagen" data-cycle-slides="> div" href="#">
                <div>
                    <img src="~/images/imagen_empresa/papelsa.png" class="img-fluid img-thumbnail img_cliente" />
                    <div class="cycle-overlay">Papelsa S.A</div>
                </div>
            </a>
            <a class="col-sm-4 col-12 col-md-4 cycle-slideshow nombre_imagen" data-cycle-slides="> div" href="#">
                <div>
                    <img src="~/images/imagen_empresa/transler.jpeg" class="img-fluid img-thumbnail img_cliente" />
                    <div class="cycle-overlay">Transler</div>
                </div>
            </a>
            <a class="col-sm-4 col-12 col-md-4 cycle-slideshow nombre_imagen" data-cycle-slides="> div" href="#">
                <div>
                    <img src="~/images/imagen_empresa/viamerica-sac-220x25.jpg" class="img-fluid img-thumbnail img_cliente" />
                    <div class="cycle-overlay">Viamerica</div>
                </div>
            </a>
        </div>
    </div>
