
@{
    ViewBag.Title = "Clientes";
    Layout = "~/Views/Shared/_LayoutCliente.cshtml";
}

    <div class="container">
        <div class="row mt-4">
            <div class="col-sm-4 col-12 col-md-4">
                <a href="#">
                    <img src="~/images/imagen_empresa/802298-ackor-peru-logo.png" class="img-fluid img-thumbnail" />
                </a>
            </div>
            <div class="col-sm-4 col-12 col-md-4">
                <a href="#">
                    <img src="~/images/imagen_empresa/acuapesca-197x165.jpg" class="img-fluid img-thumbnail" />
                </a>
            </div>
            <div class="col-sm-4 col-12 col-md-4">
                <a href="#">
                    <img src="~/images/imagen_empresa/alcolores.png" class="img-fluid img-thumbnail" />
                </a>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-sm-4 col-12 col-md-4">
                <a href="#">

                </a>
                <img src="~/images/imagen_empresa/A_V.jpg" class="img-fluid img-thumbnail" />
            </div>
            <div class="col-sm-4 col-12 col-md-4">
                <a href="#">

                </a>
                <img src="~/images/imagen_empresa/coipsa.jpg" class="img-fluid img-thumbnail" />

            </div>
            <div class="col-sm-4 col-12 col-md-4">
                <a href="#">

                </a>
                <img src="~/images/imagen_empresa/descarga.jpg" class="img-fluid img-thumbnail" />
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-sm-4 col-12 col-md-4">
                <a href="#">

                </a>
                <img src="~/images/imagen_empresa/ecoma.png" class="img-fluid img-thumbnail" />

            </div>
            <div class="col-sm-4 col-12 col-md-4">
                <a href="#">

                </a>
                <img src="~/images/imagen_empresa/ecomin.jpg" class="img-fluid img-thumbnail" />

            </div>
            <div class="col-sm-4 col-12 col-md-4">
                <a href="#">

                </a>
                <img src="~/images/imagen_empresa/eco_sam.jpg" class="img-fluid img-thumbnail" />
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-sm-4 col-12 col-md-4">
                <a href="#">

                </a>
                <img src="~/images/imagen_empresa/fernandez-y-chicoma-220x165.png" class="img-fluid img-thumbnail" />

            </div>
            <div class="col-sm-4 col-12 col-md-4">
                <a href="#">

                </a>
                <img src="~/images/imagen_empresa/fzg metales.jpg" class="img-fluid img-thumbnail" />

            </div>
            <div class="col-sm-4 col-12 col-md-4">
                <a href="#">

                </a>
                <img src="~/images/imagen_empresa/huracan.png" class="img-fluid img-thumbnail" />
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-sm-4 col-12 col-md-4">
                <a href="#">

                </a>
                <img src="~/images/imagen_empresa/industrias-nettalco.jpg" class="img-fluid img-thumbnail" />

            </div>
            <div class="col-sm-4 col-12 col-md-4">
                <a href="#">

                </a>
                <img src="~/images/imagen_empresa/IPS.png" class="img-fluid img-thumbnail" />

            </div>
            <div class="col-sm-4 col-12 col-md-4">
                <a href="#">

                </a>
                <img src="~/images/imagen_empresa/joscana-220x111.jpg" class="img-fluid img-thumbnail" />
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-sm-4 col-12 col-md-4">
                <a href="#">

                </a>
                <img src="~/images/imagen_empresa/kimberly-clark-220x30.jpg" class="img-fluid img-thumbnail" />
            </div>
            <div class="col-sm-4 col-12 col-md-4">
                <a href="#">

                </a>
                <img src="~/images/imagen_empresa/logo-areyaku.png" class="img-fluid img-thumbnail" />
            </div>
            <div class="col-sm-4 col-12 col-md-4">
                <a href="#">

                </a>
                <img src="~/images/imagen_empresa/metalimpex-220x140.png" class="img-fluid img-thumbnail" />
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-sm-4 col-12 col-md-4">
                <a href="#">

                </a>
                <img src="~/images/imagen_empresa/papelsa.png" class="img-fluid img-thumbnail" />
            </div>
            <div class="col-sm-4 col-12 col-md-4">
                <a href="#">

                </a>
                <img src="~/images/imagen_empresa/transler.jpeg" class="img-fluid img-thumbnail" />
            </div>
            <div class="col-sm-4 col-12 col-md-4">
                <a href="#">

                </a>
                <img src="~/images/imagen_empresa/viamerica-sac-220x25.jpg" class="img-fluid img-thumbnail" />
            </div>
        </div>
    </div>
