
@{
    ViewBag.Title = "Enlace_Interes";
    Layout = "~/Views/Shared/_LayoutCliente.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-12 col-sm-6 col-md-6">
            <ul>
                <li class="enlaces-label">
                    <label class="font-weight-bolder enlaces-label"> Ministerio del Ambiente</label><br />
                    <a href="https://www.gob.pe/minam" target="_blank" class="nav-link">www.miman.gob.pe</a>
                </li>
                <li class="enlaces-label">
                    <label class="font-weight-bolder enlaces-label"> DIGESA</label><br />
                    <a href="http://www.digesa.minsa.gob.pe/" target="_blank" class="nav-link">www.digesa.minsa.gob.pe</a>
                </li>
                <li class="enlaces-label">
                    <label class="font-weight-bolder enlaces-label"> Ministerio de la Producción</label><br />
                    <a href="https://www.gob.pe/produce" target="_blank" class="nav-link">www.produce.gob.pe</a>
                </li>
                <li class="enlaces-label">
                    <label class="font-weight-bolder enlaces-label"> Ministerio de la Agricultura</label><br />
                    <a href="https://www.gob.pe/minagri" target="_blank" class="nav-link">www.mimagri.gob.pe</a>
                </li>
                <li class="enlaces-label">
                    <label class="font-weight-bolder enlaces-label"> Ministerio de Energía y Minas</label><br />
                    <a href="https://www.gob.pe/minem" target="_blank" class="nav-link">www.minem.gob.pe</a>
                </li>
                <li class="enlaces-label">
                    <label class="font-weight-bolder enlaces-label"> Instituto Geológico,Minero y Metalúrgica</label><br />
                    <a href="http://www.ingemmet.gob.pe/" target="_blank" class="nav-link">www.ingemment.gob.pe</a>
                </li>
                <li class="enlaces-label">
                    <label class="font-weight-bolder enlaces-label"> Sociedad Peruana de Derecho Ambiental</label><br />
                    <a href="https://spda.org.pe/" target="_blank" class="nav-link">www.spda.org.pe</a>
                </li>
                <li class="enlaces-label">
                    <label class="font-weight-bolder enlaces-label"> Instituto Nacional de Defensa Civil</label><br />
                    <a href="https://www.indeci.gob.pe/" target="_blank" class="nav-link">www.indeci.gob.pe</a>
                </li>
                <li class="enlaces-label">
                    <label class="font-weight-bolder enlaces-label"> Sociedad Nacional de Minería,Petróleo y Energía</label><br />
                    <a href="https://www.snmpe.org.pe/" target="_blank" class="nav-link">www.snmpe.gob.pe</a>
                </li>
                <li class="enlaces-label">
                    <label class="font-weight-bolder enlaces-label"> Gobierno del Perú</label><br />
                    <a href="https://www.gob.pe/" target="_blank" class="nav-link">www.gob.pe</a>
                </li>
                <li class="enlaces-label">
                    <label class="font-weight-bolder enlaces-label"> CEPIS</label><br />
                    <a href="http://cepis.org.pe/" target="_blank" class="nav-link">www.cepis.gob.pe</a>
                </li>
            </ul>
        </div>
        <div class="col-12 col-sm-6 col-md-6 pl-2 enlaces-pl" style="overflow:hidden !important">
            <div class="cycle-slideshow responsive vertical" data-cycle-fx="carousel" data-cycle-timeout="1000"
                 data-cycle-carousel-visible="1" data-cycle-carousel-vertical="true" data-cycle-carousel-fluid="true" data-cycle-pager="#pager" style="height:90% !important">
                <img src="~/images/REVISTA-5-MINAM-242-pix (1).jpg" />
                <img src="~/images/DIGESA.jpg" />
                <img src="~/images/PRODUCCION.jpg" />
                <img src="~/images/AGRICULTURA.jpg" />
                <img src="~/images/MEM.png" />
                <img src="~/images/banners-INGEMMET.jpg" />
                <img src="~/images/logo_SPDA_.png"/>
                <img src="~/images/INDECI.png" />
                <img src="~/images/MINERIA.jpg" />
                <img src="~/images/Logo GOBIERNO.jpg" />
                <img src="~/images/CEPIS.jpg" />
            </div>
            <div class="cycle-pager-enlaces" id="pager">

            </div>
        </div>
    </div>
   
</div>

