
@{
    ViewBag.Title = "Normatividad";
    Layout = "~/Views/Shared/_LayoutCliente.cshtml";
}

<div class="container mt-2">
    <div class="row">
        <div class="col-12 col-sm-12 col-md-12">
            <ol>
                <li class="normatividad-label mt-2 li-l">
                Ley General Del Ambiente – Ley Nº 28611
                </li>
                <li class="normatividad-label mt-2 li-l">
                Ley del Sistema Nacional de Evaluación del Impacto Ambiental – Ley N° 27446 y su Modificatoria Decreto Legislativo N° 1078
                </li>
                <li class="normatividad-label mt-2 li-l">
                Reglamento de la Ley del Sistema Nacional de Evaluación Ambiental – D.S. N° 019-2009-MINAM
                </li>
                <li class="normatividad-label mt-2 li-l">
                Ley General de Salud – Ley Nº 26842
                </li>
                <li class="normatividad-label mt-2 li-l">
                Ley de Gestión Integral de Residuos Sólidos – Decreto legislativo N° 1278
                </li>
                <li class="normatividad-label mt-2 li-l">
                Reglamento de la Ley de Gestión Integral de Residuos Sólidos – D.S. N°014-2017-MINAM
                </li>
                <li class="normatividad-label mt-2 li-l">
                Ley que Regula el Transporte Terrestre de Materiales Peligrosos y Residuos Peligrosos – Ley Nº 28256
                </li>
                <li class="normatividad-label mt-2 li-l">
                Reglamento Nacional del Transporte Terrestre de Materiales y Residuos Peligrosos – D.S. N° 021-2008-MTC
                </li>
                <li class="normatividad-label mt-2 li-r">
                Reglamento de la Ordenanza N° 1778 – Gestión Metropolitana de Residuos Sólidos
                </li>
                <li class="normatividad-label mt-2 li-r">
                Reglamento del Manejo de los Residuos Sólidos del Sector Agrario – D.S. N° 016-2012-AG
                </li>
                <li class="normatividad-label mt-2 li-r">
                Reglamento Nacional para la gestión y Manejo de los Residuos de Aparatos Eléctricos y Electrónicos (RAEE) – D.S. N° 001-2012-MINAM
                </li>
                <li class="normatividad-label mt-2 li-r">
                Reglamento para la Gestión y manejo de los Residuos de las Actividades de la Construcción y Demolición – D.S. N° 003-2013-VIVIENDA
                </li>
                <li class="normatividad-label mt-2 li-r">
                Gestión y Manejo de los Residuos Sólidos en Establecimientos de Salud y Servicios Médicos de Apoyo – NTS N° 096-MINSA-DIGESA
                </li>
                <li class="normatividad-label mt-2 li-r">
                    Ley Forestal y de Fauna Silvestre (Ley N° 27308)
                </li>
                <li class="normatividad-label mt-2 li-r">
                Ley Sobre la Conservación y Aprovechamiento Sostenible de la Diversidad Biológica (Ley Nº 26839)
                </li>
                <li class="normatividad-label mt-2 li-r">
                    Ley de Áreas Naturales Protegidas (Ley Nº 26834)
                </li>
            </ol>
        </div>
        </div>
</div>
