@model SWMGEGCSS.Models.TipoServicioViewModel
@{
    Layout = null;
    var tipo_servicio_id = Model.tipoServicio.tipo_servicio_id;
    var list_actividades = Model.PList_tipo_servicio_actividades;
    var count = 0;
}
<div id="tableActC">
    <div class="row mt-4">
        <div class="col-12 col-sm-12 col-md-12">
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead class="bg-success">
                        <tr class="text-center">
                            <th scope="col">#</th>
                            <th scope="col">Nombre de la Actividad</th>
                            <th scope="col">Costo</th>
                            <th scope="col">Obligatorio</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in list_actividades)
                        {
                            count = count + 1;
                        <tr class="text-center">
                            <th scope="row">@count</th>
                            <td>@item.act_nombre</td>
                            <td>@item.tipo_servicio_costo</td>
                            @if (item.tipo_servicio_obligatorio)
                            {
                                <td>Sí</td>
                            }
                            else
                            {
                                <td>No</td>
                            }
                        </tr>

                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="row mt-4 pl-2">
        <div class="col-sm-4 col-md-4 col-12 pgCA" data-serv-target=".modal-body #tableActC">
            @Html.PagedListPager(list_actividades, page => Url.Action("ListarActividadesConsultar", "Servicios", new { tipo_servicio_id, page }), PagedListRenderOptions.OnlyShowFivePagesAtATime)
        </div>
    </div>
</div>



