@model SWMGEGCSS.Models.TipoServicioViewModel
@{
    ViewBag.Title = "Visualizar_Servicios";
    Layout = "~/Views/Shared/_LayoutEmpresa.cshtml";
    var list_servicios = Model.PList_tipo_servicio;
}

<div class="mt-2 ml-4">
    <div class="container-fluid">
        <div class="row mt-2">
            <div class="col-12 col-sm-4 col-md-4">
                <div>
                    <label class="font-weight-bolder">Nombre del Servicio: </label>
                </div>
                <input type="text" class="form-control" id="searchTerm" name="searchTerm" data-exp-autocomplete="@Url.Action("Autocomplete")" />
            </div>
            <div class="col-12 col-sm-4 col-md-4">
                <div>
                    <label class="font-weight-bolder">Seleccione una opción</label>
                </div>
                <select class="custom-select" id="estado" name="estado">
                    <option value="Todos">Todos</option>
                    <option value="Activos">Activos</option>
                    <option value="Inactivo">Inactivo</option>
                </select>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-12 col-sm-4 col-md-4">
                <button class="btn btn-primary rounded-pill" id="Buscar">
                    <i class="fa fa-search"></i>
                    Buscar Proyecto
                </button>
            </div>
            <div class="col-12 col-sm-4 col-md-4">
                <a href="@Url.Action("Registrar_Proyecto","Expediente")" class="btn btn-success rounded-pill">
                    <i class="fa fa-plus-circle"></i>
                    Registrar Nuevo Proyecto
                </a>
            </div>
            <div class="col-12 col-sm-4 col-md-4">
            </div>
        </div>
        @Html.Partial("_ListaServicios", Model)
    </div>
</div>
<link href="~/Content/style-autocomplete/jquery-ui.min.css" rel="stylesheet" />
<link href="~/Content/PagedList.css" rel="stylesheet" />
@section Scripts{
    <script src="~/Scripts/sweetalert/sweetalert.js"></script>
    <script src="~/Scripts/Scripts_TP/MIRANDA/scriptsGestionarServicio.js"></script>
    <script src="~/Scripts/script-autocomplete/jquery-ui-min.js"></script>
}


