@model SWMGEGCSS.Models.GestionarAsignacionActividadesDesarrollar
@{
    /**/

   // ViewBag.Title = "Asignacion_Tareas";
    Layout = "~/Views/Shared/_LayoutEmpresa.cshtml";
    
    //var listaActividadesDesarrollarAux = Model.listActividadesDesarrollarAux;
    //var count = 0;
}



<div class="mt-2 ml-4">
    <div class="container-fluid">
        <div class="row mt-4">
            <div class="col-12 col-sm-4 col-md-4">
                <div style="width:60px"></div>
            </div>             
        <div class="col-12 col-sm-4 col-md-4">
            <h2>Gestion de asignacion de actividades a desarrollar</h2>
        </div>
        </div>
        <div class="row mt-12">
            <div style="width:100px"></div>
            <div class="col-10 col-sm-10 col-md-10">
                @Html.Partial("_ListaActividadesDesarrollar", Model)
            </div>
        </div>
        </div>
    </div>
    <link href="~/Content/PagedList.css" rel="stylesheet" />
    @section Scripts{
        <script src="~/Scripts/Scripts_TP/COLOMBO/visualizarActividadesDesarrollar.js"></script>
        
    }