@model SWMGEGCSS.Models.TareasAsignadasViewModel
@{
    Layout = "~/Views/Shared/_LayoutEmpresa.cshtml";
}
<link rel="stylesheet" href="~/Content/StyleTP/SEBASTIAN/RegistrarProyecto.css" />
<div class="container-fluid">
    <form id="form">
        <div class="border-registrar">
            <div class="row mt-4 pl-2">
                <div class="col-sm-1 col-md-1">

                </div>
                <div class="col-12 col-sm-5 col-md-5">
                    <label class="font-weight-bolder titulo-registrar">
                        Agregar Nuevo Archivo
                    </label>
                </div>
            </div>
            <div class="row mt-4 pl-2">
                <div class="col-sm-1 col-md-1">

                </div>
                <div class="col-12 col-sm-4 col-md-4">
                    <label class="font-weight-bolder">
                        Comentario acerca del archivo :
                    </label>
                    @Html.EditorFor(model => model.Actividad_a_Desarrollar.act_desa_archivo_nombre, new
                        {
                            htmlAttributes = new { @id = "actividad_nombre_archivo", @class = "text-center form-control" }
                        })
                    <div id="error_actividad_archivo_nombre" class="errordiv"></div>
                </div>
                <div class="col-12 col-sm-4 col-md-4">
                    <div>
                        <label class="font-weight-bolder">
                            Subir Archivo :
                        </label>
                    </div>
                    <input type="file" id="newFile" name="newFile" size="23" />
                    <div id="error_actividad_archivo" class="errordiv"></div>
                </div>
                <div class="col-sm-1 col-md-1">

                </div>
            </div>
            <div class="row mt-4 pl-2">
                <div class="col-sm-1 col-md-1">

                </div>
                <div class="col-12 col-sm-10 col-md-10">
                    <div>
                        <label class="font-weight-bolder">
                            Comentario acerca del archivo :
                        </label>
                    </div>
                    @Html.TextAreaFor(model => model.Actividad_a_Desarrollar.act_desa_comentario,

                htmlAttributes : new { @id = "actividad_comentario", @class = "text-center form-control bg-white" })

                    <div id="error_actividad_comentario" class="errordiv"></div>
                </div>
                <div class="col-sm-1 col-md-1">

                </div>
            </div>
            <div class="row mt-4 pl-2">
                <div class="col-sm-1 col-md-1">

                </div>
                <div class="col-12 col-sm-3 col-md-3">
                    <a href="@Url.Action("V_Tareas","Trabajador")" class="btn btn-secondary">
                        <i class="fa fa-backward"></i>
                        Regresar
                    </a>
                </div>
                <div class="col-12 col-sm-3 col-md-3"></div>
                <div class="col-12 col-sm-3 col-md-3">
                    <button class="btn btn-success" id="btnSubirArchivo">
                        <i class="fa fa-check-circle"></i>
                        Agregar Archivo
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>
@section Scripts{

}

