@model SWMGEGCSS.Models.TareasAsignadasViewModel
@{
    Layout = "~/Views/Shared/_LayoutEmpresa.cshtml";
    var lista_act_des = Model.PLista_Actividades_a_Desarrollar;
}

<div class="mt-2 ml-4">
    <div class="container-fluid">
        <div class="row mt-4">
            <div class="col-12 col-sm-4 col-md-4">
            </div>
            <h2>TAREAS ASIGNADAS</h2>
            <div class="col-12 col-sm-4 col-md-4">
            </div>
        </div>
        <div class="row mt-4">
            @Html.Partial("_ListaTareasAsignadas", Model);
        </div>
    </div>
</div>
<link href="~/Content/PagedList.css" rel="stylesheet" />
@section Scripts{
    <script src="~/Scripts/Scripts_TP/PIERO/scriptsVisualizarTareas.js"></script>
}
