.link-inicio {
    font-weight: bolder;
    font-size: 18px;
    margin-right: 8px !important;
    text-align: center;
}

    .link-inicio:hover {
        background-color: #17c3be;
        border-radius: 10px;
    }

.titulo-login {
    font-weight: bolder;
    font-size: 22px;
    text-shadow: 5px 5px 5px #17c3be;
    font-family: FontAwesome;
    color: #288d83;
    padding-left: 20%;
    padding-right: 20%;
}

.btn-inicio {
    background-color: #10a984;
}

    .btn-inicio:hover {
        background-color: #12d7d7;
    }

.border-circulo {
    border: 10px solid;
    border-radius: 50px;
}

.inicio_cliente {
    font-size: 25px;
    color: #ccc4c4 !important;
}

.border-circulo {
    border: 3px solid;
    border-radius: 50px;
    width: 100px;
    height: 100px;
    background-color: #1554a1;
    border-color: #82eff2;
}

    .border-circulo:hover {
        border-color: #0f3cba;
    }

.inicio_cliente {
    font-size: 20px;
    color: #808080 !important;
}
.margin-icon {
    margin-left: 33%;
}

.icon_color {
    color: #10d940;
}

    .icon_color:hover {
        color: #19961f;
    }
.cycle-slideshow {
    margin: 10px auto;
    position:relative;
    overflow:hidden;
    overflow-x:hidden !important;
}
.cycle-pager {
    text-align: center;
    cursor: pointer;
    width: 100%;
    margin: auto;
    position: relative;
    overflow: hidden !important;
    bottom: 30px;
    /*left:40%;*/
}
.cycle-pager span {
    font-family:Arial, Helvetica, sans-serif;
    font-size:50px;
    width:15px;
    height:15px;
    display:inline-block;
    color:#ddd;
}
.cycle-pager-active {
    color: #19961f !important;
}
span > .cycle-pager-active {
    color: #19961f !important;
}
div.responsive img{
    width: auto;
    height: auto;
    padding:20px;
}
.titulo_cliente {
    font-size: 30px;
    color: #808080 !important;
}
.float_left{
    float:left;
    width:19%;
}
.float_left_text {
    float: left;
    width: 81%;
    padding-left:15px;
}
.inicio_cliente_1 {
    font-size: initial;
    color: #808080 !important;
}
.footer_color {
    background-color: #97ed8d;
}
.float_left_footer {
    float: left;
    width: 7%;
}
.float_left_footer_text {
    float: left;
    width: 93%;
    padding-left: 15px;
}
.icon_footer_color {
    color: #2abaad;
}
.link_footer {
    font-weight: bolder;
    font-size: 15px;
    color: white !important;
}
.link_footer:hover {
   color: white !important;
}
.border_footer_link{
    width:60px;
    height:60px;
    border:3px solid;
    border-radius:50px;
    border-color:#2abaad;
}
.inicio_cliente_2 {
    font-size: 20px;
    color: white !important;
}
.inicio_cliente_1_footer {
    font-size: initial;
    color: white !important;
}
.img-100{
    width:100% !important;
}
.section-center{
    margin-top:16%;
}
.section-center-img{
    margin-top:10%;
}
.section-title {
    font-size: 30px;
    color: #808080 !important;
}
.section-content {
    font-size: 18px;
    color: #808080 !important;
}
.div-section{
    background-color:#ffffff;
}
.nav-link.active {
    background-color: #17c3be !important;
    color: white !important;
}
.link-font{
    font-size:19px !important;
    color:#138e9b !important;
}
.nombre_imagen > div .cycle-overlay {
    color: white;
    background: black;
    opacity: .6;
    filter: alpha(opacity=60);
    position: absolute;
    bottom: 0;
    font-weight:bolder;
    font-size:18px !important;
    width: 100%;
    padding: 15px;
    text-align: center;
}
.img_cliente{
    width:300px !important;
    height:250px !important;
}
@media only screen and (max-width : 1100px) {
    .img_cliente {
        width: 200px !important;
        height: 250px !important;
    }
}
@media only screen and (max-width : 750px) {
    .img_cliente {
        width: 150px !important;
        height: 250px !important;
    }
}
@media only screen and (max-width : 571px) {
    .img_cliente {
        width: 100% !important;
        height: 250px !important;
    }
    .cycle-slide-active {
        width: 100% !important;
    }
}
#map{
    width:100% !important;
    height:600px;
}
#driving-directions {
    width: 700px;
    height: 600px;
    margin: 20px;
}