.link-inicio{
    font-weight:bolder;
    font-size:18px;
    margin-right: 8px !important;
    text-align:center;
}
.link-inicio:hover{
    background-color:#17c3be;
    border-radius:10px;
}
.titulo-login {
    font-weight: bolder;
    font-size: 22px;
    text-shadow: 5px 5px 5px #17c3be;
    font-family:FontAwesome;
    color: #288d83;
    padding-left: 20%;
    padding-right: 20%;
}
.btn-inicio {
    background-color: #10a984;
}
.btn-inicio:hover {
   background-color: #12d7d7;
}
.border-circulo{
    border: 10px solid;
    border-radius:50px;
}
.inicio_cliente {
    font-size: 25px;
    color: #ccc4c4 !important;
}
.border-circulo {
    border: 3px solid;
    border-radius: 50px;
    width: 100px;
    height: 100px;
    background-color: #109ee6;
    border-color: #82eff2;
}

    .border-circulo:hover {
        border-color: #0f3cba;
    }

.inicio_cliente {
    font-size: 20px;
    color: #808080 !important;
}

.margin-icon {
    margin-left: 33%;
}

.icon_color {
    color: #10d940;
}

    .icon_color:hover {
        color: #19961f;
    }