.border-circulo {
    border: 3px solid;
    border-radius: 50px;
    width:100px;
    height:100px;
    background-color:#109ee6;
    border-color:#82eff2;
}
.border-circulo:hover{
    border-color:#0f3cba;

}
.inicio_cliente {
    font-size: 20px;
    color: #808080 !important;
}
.margin-icon {
    margin-left: 33%;
}
.icon_color{
    color:#10d940;
}
.icon_color:hover {
    color: #19961f;
}