@model SWMGEGCSS.Models.GestionarCuentasViewModel
@{
    ViewBag.Title = "Gestionar_Cuenta";
    Layout = "~/Views/Shared/_LayoutEmpresa.cshtml";
    var lista_cuentas = Model.Plist_cuentas;
}

<h2>Gestionar Cuenta</h2>


<div class="row mt-2 ml-2">

    <div class="col-12 col-sm-5 col-md-5">
        <div>
            <label class="font-weight-bolder">
                Nombre del empleado:
            </label>
        </div>

        <input type="text" class="form-control" id="searchTerm" name="searchTerm" />


    </div>
    <div class="col-12 col-sm-5 col-md-5">
        <div>
            <label class="font-weight-bolder">Seleccione una opción</label>
        </div>
        <select class="custom-select" id="estado" name="estado">
            <option value="Todos">Todos</option>
            <option>Gerente</option>
            <option>Adminsitrador</option>
            <option>Trabajador</option>
            <option>Secretario(a)</option>

        </select>
    </div>


</div>

<div class="row mt-3 ml-2">

    <div class="col-12 col-sm-5 col-md-5">

        <button class="btn btn-primary rounded-pill" id="Buscar">
            <i class="fa fa-search"></i>
            Buscar Trabajador
        </button>

    </div>
    <div class="col-12 col-sm-6 col-md-6">
        <a href="@Url.Action("Registrar_Cuenta","Cuentas")" class="btn btn-success mx-md-auto">
            <i class="fa fa-plus-circle"></i>
            Registrar Nueva Empleado
        </a>

    </div>




</div>

@Html.Partial("_ListaCuentaUsuario", Model)


<link href="~/Content/style-autocomplete/jquery-ui.min.css" rel="stylesheet" />
<link href="~/Content/PagedList.css" rel="stylesheet" />
@section Scripts{
    <script src="~/Scripts/sweetalert/sweetalert.js"></script>

    <script src="~/Scripts/script-autocomplete/jquery-ui-min.js"></script>

}

