
@{
    ViewBag.Title = "Gestionar_Proyectos";
    Layout = "~/Views/Shared/_LayoutEmpresa.cshtml";
}

<h2>Gestionar_Proyectos</h2>
<div class="mt-2 ml-4">
    <div class="container">
        <div class="row mt-2">
            <div class="col-12 col-sm-12 col-md-12">
                e
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-12 col-sm-2 col-md-2">
                f
            </div>
            <div class="col-12 col-sm-2 col-md-2">
                g
            </div>
            <div class="col-12 col-sm-8 col-md-8">
                d
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12">
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead class="bg-success">
                            <tr class="text-center">
                                <th scope="col">#</th>
                                <th scope="col">Nombre del Plan</th>
                                <th scope="col">Fecha de Inicio</th>
                                <th scope="col">Fecha de Fin</th>
                                <th scope="col">Tipo de Servicio</th>
                                <th scope="col">Estado del Proyecto</th>
                                <th scope="col">Costo del Proyecto</th>
                            </tr>
                        </thead>
                        <tbody>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


