@model SWMGEGCSS.Models.GestionarPlanProyectoViewModel
@{
    ViewBag.Title = "Gestionar_Plan_Proyectos";
    Layout = "~/Views/Shared/_LayoutEmpresa.cshtml";
    var list_planes = Model.listPplans;
    var selected_plan = Model.plans_aux;
    //var list_estado_planes = Model.list_estado_plan;
}

<div class="mt-2 ml-4">
    <div class="container-fluid">
        <div class="row mt-2">
            <div class="col-12 col-sm-4 col-md-4">
                <div>
                    <label class="font-weight-bolder">Nombre del Plan: </label>
                </div>
                <input type="text" class="form-control" id="searchTerm" name="searchTerm" data-exp-autocomplete="@Url.Action("CompletarNombrePlanes")" />
            </div>
            <!--<div class="col-12 col-sm-4 col-md-4">
            <div>
                <label class="font-weight-bolder">Seleccione una opción</label>
            </div>
            <select class="custom-select" id="estado" name="estado">
                <option value="Todos">Todos</option>
                *foreach (var item in list_estado_expediente)
                {
                    <option value="*item.est_exp_nombre">*item.est_exp_nombre</option>
                }
            </select>
        </div>
            -->
        </div>
        <div class="row mt-4">
            <div class="col-12 col-sm-4 col-md-4">
                <button class="btn btn-primary rounded-pill" id="Buscar">
                    <i class="fa fa-search"></i>
                    Buscar Proyecto
                </button>
            </div>
            <div class="col-12 col-sm-4 col-md-4">
                <a href="@Url.Action("Agregar_Plan_de_Proyectos","Plan")" class="btn btn-success rounded-pill">
                    <i class="fa fa-plus-circle"></i>
                    Registrar Nuevo Plan de Proyectos
                </a>
            </div>
            <div class="col-12 col-sm-4 col-md-4">
            </div>
        </div>
        @Html.Partial("_ListaPlan", Model)
        @Html.Action("_Eliminar_Plan_De_Proyecto", "Plan")
    </div>
</div>
<link href="~/Content/style-autocomplete/jquery-ui.min.css" rel="stylesheet" />
<link href="~/Content/PagedList.css" rel="stylesheet" />
@section Scripts{
    <script src="~/Scripts/sweetalert/sweetalert.js"></script>
    <script src="~/Scripts/Scripts_TP/COLOMBO/scriptGestionarPlan1.js"></script>
    <script src="~/Scripts/script-autocomplete/jquery-ui-min.js"></script>
}
