
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutEmpresa.cshtml";
}

<div class="container">
    <h2 class="font-weight-bolder">Notificaciones</h2>
    <div id="notificacion">

    </div>
</div>

